<!--
CSC-289 - Capstone Project - Anime Review Site
@authors: Michael Blythe, Samuel Blythe, Alex Lopez, Bethany Reagan, Juan Santiago
about.html
-->
{% extends "layout.html" %}
{% block content %}
	<h1>About Page</h1>
	<div class = "center">
		<big><p>AniRater is an anime review site created by five students at FTCC engaged in their Capstone project.  It is 
		the result of a lot of hours of hard work, late nights, and desperately wishing we could actually all meet at the 
		same time to put it all together.  However, through the power of persistence, it is what you see here.</p></big>
		<br/>
		<p>Michael Blythe</p>
		<p>Samuel Blythe</p>
		<p>Alex Lopez</p>
		<p>Bethany Reagan</p>
		<p>Juan Santiago</p>
	</div>
{% endblock content %}
