<!--
CSC-289 - Capstone Project - Anime Review Site
@authors: Michael Blythe, Samuel Blythe, Alex Lopez, Bethany Reagan, Juan Santiago
animeURL.html
-->
{% extends "layout.html" %}
{% block content %}
	{% for anime in animes %}
		<article class="media content-section">
		  <div class="media-body">
			<div class="article-metadata">
			  <a class="mr-2" href="{{ url_for('anime') }}">{{ anime.animeTitle }}</a>
			</div>
			<p class="article-content">{{ anime.content }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}