<!--
CSC-289 - Capstone Project - Anime Review Site
@authors: Michael Blythe, Samuel Blythe, Alex Lopez, Bethany Reagan, Juan Santiago
AnimePage.html
-->
{% extends "layout.html" %}
{% block content %}
	<br/>
	<div class="media">
		<img class="rounded-circle mx-auto d-block" src="{{image_file + animes.thumbnail}}">
	</div>
	<br/>
	
	
	
	<!-- Unfinished Gallery
	
	<div class="tz-gallery">

		<div class="row">
	
			<div class="col-lg-4 col-lg-4">
                <a class="lightbox" href="{{image_file + animes.thumbnail}}1.jpg">
                    <img src="{{image_file + animes.thumbnail}}1.jpg" alt="Image1" img style="width:100%">
                </a>
            </div>

			<div class="col-lg-4 col-lg-4">
                <a class="lightbox" href="{{image_file + animes.thumbnail}}2.jpg">
                    <img src="{{image_file + animes.thumbnail}}2.jpg" alt="Image2" img style="width:100%">
                </a>
            </div>
	
			<div class="col-lg-4 col-lg-4">
                <a class="lightbox" href="{{image_file + animes.thumbnail}}3.jpg">
                    <img src="{{image_file + animes.thumbnail}}3.jpg" alt="Image3" img style="width:100%">
                </a>
            </div>			

		</div>
	</div>

	
	-->
	
	
	
	
	
	
	
	
	
	<h1>{{ animes.animeTitle }}</h1>
	<article class="media content-section">
		<br/>
		<div class="center">
			<h5><font color="#1E90FF">Premiered: </font>{{ animes.premiered }}</h5>
			<h5><font color="#1E90FF">Episodes: </font>{{ animes.episodes }}</h5>
			<h5><font color="#1E90FF">Rating: </font>{{ animes.scored }}</h5>
		</div>
	</article>
	<div class="left">
		<article class="media content-section">
			<p><h5><font color="#000000">{{ animes.content }}</font></h5></p>
		</article>
		<article class="media content-section">
			<ul>
			<li><h5>Genre:</h5>
				{% for item in genreList %}
					<a class="mr-2" href="{{ url_for('genrepage', genre=item) }}">{{ item }}</a>
				{% endfor %}
			</li>
			<li><h5>Media Type:</h5>
			{% for item in mediaList %}
				<a class="mr-2" href="{{ url_for('mediapage', media=item) }}">{{ item }}</a>
			{% endfor %}
			</li>
			<li><h5>Studio:</h5>
			{% for item in studioList %}
				<a class="mr-2" href="{{ url_for('studiopage', studio=item) }}">{{ item }}</a>
			{% endfor %}
			</li>
			<li><h5>Producer:</h5>
			{% for item in producerList %}
				<a class="mr-2" href="{{ url_for('producerpage', producer=item) }}">{{ item }}</a>
			{% endfor %}
			</li>
			</ul>
		</article>
		<br/><br/><br/>
		
	<h5><div class="content-section">
	{% if current_user.is_authenticated %}
		{% if postValidation != "exists" %}
			<p><h5>Leave a review!</h5></p>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">{{ legend }}</legend>
					<div class="center" style="width:90px; float:left>
						{{ form.rating.label(class="form-control-label") }}
						{% if form.rating.errors %}
							{{ form.rating(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.rating.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.rating(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					</br>
					<div class="left" style="width:500px; float:left>
						{{ form.title.label(class="form-control-label") }}
						{% if form.title.errors %}
							{{ form.title(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.title.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						{{ form.title(class="form-control form-control-lg") }}
						{% endif %}
					</div>
					<p></p>
					<div style="clear: both;"></div>
					<p></p>
					<div class="bottom">
						{{ form.content.label(class="form-control-label") }}
						{% if form.content.errors %}
							{{ form.content(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.content.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.content(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				</fieldset>
				<div class="form-group">
					{{ form.submit(class="btn btn-outline-info") }}
				</div>
			</form>
		{% else %}
			<h5>You have already posted a review</h5>
		{% endif %}
	{% else %}
		<a class="nav-item nav-link" href="{{ url_for('login') }}">Login to leave a review!</a>
	{% endif %}
	</div></h5>
	<br/>
	<h1>User Reviews:</h1>
		{% for post in posts2 %}
			<article class="media content-section">
			  <div class="media-body">
				<div class="article-metadata">
				  <h5><p class="article-content">{{ post }}</p></h5>
					{% set cnt = loop.index0 %}
					{% set ratingList = [] %}
					{%for r in userRating %}
						{% set item = r.rating %}
						{% if ratingList.append(item) %}{% endif %}
					{% endfor %}
					<h5 class="left">Rating: {{ ratingList[cnt] }}</h5>
				</div>
			  </div>
			</article>
		{% endfor %}
		<div style="clear: both;"></div>
	</div>



{% endblock content %}
