<!--
CSC-289 - Capstone Project - Anime Review Site
@authors: Michael Blythe, Samuel Blythe, Alex Lopez, Bethany Reagan, Juan Santiago
about.html
-->
{% extends "layout.html" %}
{% block content %}
	<div class="media">
		<img class="rounded-circle right" src="{{ image_file }}">
	</div>
	<h1>{{ animes.animeTitle }}</h1>
	<div class="center">
		<h5>Premiered: {{ animes.premiered }}</h5>
		<h5>Episodes: {{ animes.episodes }}</h5>
		<h5>Rating: {{ animes.scored }}</h5>
	</div>
	<div class="left">
		<p><h5>{{ animes.content }}</h5></p>
		<h5>Genre:</h5>
		{% for item in genreList %}
			<a class="mr-2" href="{{ url_for('genrepage', genre=item) }}">{{ item }}</a>
		{% endfor %}
		<h5>Media Type:</h5>
		{% for item in mediaList %}
			<a class="mr-2" href="{{ url_for('mediapage', media=item) }}">{{ item }}</a>
		{% endfor %}
		<h5>Studio:</h5>
		{% for item in studioList %}
			<a class="mr-2" href="{{ url_for('studiopage', studio=item) }}">{{ item }}</a>
		{% endfor %}
		<h5>Producer:</h5>
		{% for item in producerList %}
			<a class="mr-2" href="{{ url_for('producerpage', producer=item) }}">{{ item }}</a>
		{% endfor %}

	<h5><div class="content-section">
	{% if current_user.is_authenticated %}
		<p><h5>Leave a review!</h5></p>
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">{{ legend }}</legend>
				<div class="form-group">
					{{ form.title.label(class="form-control-label") }}
					{% if form.title.errors %}
						{{ form.title(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.title(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.content.label(class="form-control-label") }}
					{% if form.content.errors %}
						{{ form.content(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.content.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.content(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	{% else %}
		<a class="nav-item nav-link" href="{{ url_for('login') }}">Login to leave a review!</a>
	{% endif %}
	</div></h5>
		{% for post in posts %}
			<article class="media content-section">
			  <div class="media-body">
				<div class="article-metadata">
				  <h5><p class="article-content">{{ post }}</p></h5>
				</div>
			  </div>
			</article>
		{% endfor %}
	</div>


{% endblock content %}
