<!--
CSC-289 - Capstone Project - Anime Review Site
@authors: Michael Blythe, Samuel Blythe, Alex Lopez, Bethany Reagan, Juan Santiago
MediaPage.html
-->
{% extends "layout.html" %}
{% block content %}
	<div class="left">
		<center><h2><font color="#FFFFFF">Media Type: {{ media }}</font></h2></center>
		<hr></hr>
		{% for item in animeList %}
			{% for A in item %}
				<center><h4><p><a class="mr-2" href="{{ url_for('animepage', animeTitle=A.animeTitle) }}">{{A.animeTitle}}</a><p></h4></center>
				<a class="mr-2" href="{{ url_for('animepage', animeTitle=A.animeTitle) }}"><img class="rounded-circle account-img" src="{{ image_file + A.thumbnail}} "align="left"></a>
				<h5><p><font color="#FFFFFF">{{ A.briefContent }}</font><p></h5>
				<br></br>
				<hr></hr>
			{% endfor %}
		{% endfor %}
	</div>

{% endblock content %}
