<!--
CSC-289 - Capstone Project - Anime Review Site
@authors: Michael Blythe, Samuel Blythe, Alex Lopez, Bethany Reagan, Juan Santiago
Sorted_Anime.html
-->
{% extends "layout.html" %}
{% block content %}
	<p></p>
	<h3><center>Anirater - Anime Reviews</center></h3>
	<hr></hr>
	<p></p>
	<h4><left>Top Rated Anime</left></h4>
	{% for anime in animes %}
		<article class="media content-section">
		  <div class="media-body">
			<div class="article-metadata">
				<center><h4><p><a class="mr-2" href="{{ url_for('animepage', animeTitle=anime.animeTitle) }}">{{anime.animeTitle}}</a><p></h4></center>
				<a class="mr-2" href="{{ url_for('animepage', animeTitle=anime.animeTitle) }}"><img class="rounded-circle account-img" src="{{ image_file + anime.thumbnail}} "align="left"></a>
			</div>
			<p class="article-content">{{ anime.briefContent }}... </p>
		  </div>
		</article>
	{% endfor %}
	<hr></hr>
	<p></p>
	<h4><left>Newly Added Anime</left></h4>
	{% for anime in animes2 %}
		<article class="media content-section">
		  <div class="media-body">
			<div class="article-metadata">
				<center><h4><p><a class="mr-2" href="{{ url_for('animepage', animeTitle=anime.animeTitle) }}">{{anime.animeTitle}}</a><p></h4></center>
				<a class="mr-2" href="{{ url_for('animepage', animeTitle=anime.animeTitle) }}"><img class="rounded-circle account-img" src="{{ image_file + anime.thumbnail}} "align="left"></a>
			</div>
			<p class="article-content">{{ anime.briefContent }}... </p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}